html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Hide scrollbars */
}

canvas {
  display: block;
}
input {
  height: 20px;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
}

p {
  margin: 5px 0px;
}

#overlay {
  position: absolute;
  text-align: center;
  padding: 0% 25%;
  top: 25%;
  bottom: 25%;
  left: 0%;
  right: 0%;
}

.slide {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 1px 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.slide.clearslide {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.slide.cityslide {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 50%;
  width: 50%;
  top: 85%;
}

.cityInfo {
  position: absolute;
  background-color:rgba(255, 255, 255, 0.6);
  left: 20px;
  right:85%;
  top: 0px;
  bottom:40%;
}

.hotelInfo {
  position: absolute;
  background-color:rgba(255, 255, 255, 0.6);
  right:20px;
  left: 85%;
  top: 20px;
  bottom: 40%;
  color:300px;
}

/* #hotelName {
  font-weight: bold;
} */

#city{

}
#country{

}

#population{
  
}

#GDP{
  
}


button {
  background-color: orange;
  border: none;
  padding: 16px;
  transition: 300ms;
  border-radius: 10px;
}

button:hover {
  background-color: #dddd00;
  transition: 300ms;
}
button.cancel{
  position: absolute;
  top:5px;
  left: 5px;
  width:50px;
  height: 50px;
}